<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <form action = "" method = "POST">

    <label for="Your_name">Name: </label>

    <input id="Your_name" type="text" name="your_name">

    <label for="Your_mail">E-mail: </label>

    <input id="Your_mail" type="text" name="your_mail">

    <p>Текст сообщения:<br /><textarea name="body" cols="1" rows="5" style="width:30%" /></textarea></p>

    <input type="submit" value="Отправить">

</form>
</body>
</html>